*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    background-image: linear-gradient(to right, rgb(129, 129, 173), rgb(57, 57, 71));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container_titulo{
    margin-bottom: 2rem;
}

.numero_dias{
    border: 1px solid gray;
    padding: 1.1rem;
    border-radius: 3px;
}

.mauz{
    font-size: 1.2rem;
}